<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papayas Restaurang - Smörgostårtor & catering</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/favicon.ico" />

    <link href="../public/assets/style.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/37b7c2e3b6.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.9.1.js"
    ></script>
    <script
      type="text/javascript"
      src="../public/assets/navigation.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="../public/assets/formlistener.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="../public/assets/indexbody.js"
      defer
    ></script>
  </head>

  <body class="">
    <header>
      <div class="main_s">
        <div class="row">
          <a class="logo" href="/">
            <img src="../public/assets/papaya_logo.png" alt=""
          /></a>
          <nav>
            <ul>
              <li><a href="/">Hem</a></li>
              <li><a href="/veckans-meny">Veckans Meny</a></li>
              <li><a href="/bestallning">Beställning</a></li>
              <li><a href="/kontakt">Kontakt</a></li>
            </ul>
          </nav>
        </div>
        <!-- / row -->
      </div>

      <div class="mobile-header">
        <a class="mobile-logo" href="www.papayarestaurang.se"
          ><img src="../public/assets/papaya_logo.png" alt=""
        /></a>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a href="/">Hem</a></li>
            <li><a href="/veckans-meny">Veckans Meny</a></li>
            <li><a href="/bestallning">Beställning</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="banner-story">
      <div class="banner-left">
        <h2 class="">SMARRIG SMÖRGÅSTORTA</h2>
        <p id="mh">
          Vi gör smörgåstårtor för grupper till alla tillfällen. <br />Mättande,
          enkel hantering för kund, och framförallt super gott!

          <br />
        </p>

        <p>- Fyllning varieras utefter kundens behov.</p>
        <p>- Börjar från minst 10 portioner</p>
        <p>- Beställning gärna 2-3 dagar i förhand</p>
      </div>
      <div class="banner-right">
        <div class="img-holder">
          <img src="../public/assets/torta.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="dagens-wrap">
        <div class="wrap-right">
          <img src="../public/assets/satay.jpg" alt="" />
        </div>
        <div class="wrap-left">
          <h2 class="">FESTLIGHET MED THAILÄNDSKA ELLER SVENSKA RÄTTER</h2>
          <p>
            Vi erbjuder från tre till fyra rättersmenyer bestående thailändskt,
            svenskt mat eller i kombination för dina tillställningar.
          </p>
          <p>
            Vi anpassar självklart ingridienserna eller tillagar kompletterande
            rätter för de med allergi eller som efterfrågar vegetarianskt
            rätter.
          </p>
        </div>
      </div>
      <div class="kuponger">
        <h2>LUNCHKUPONGER</h2>
        <p>En kupong ger 10 lunchbufféer. Kan Köpas i restaurangen.</p>
        <p>Kontakta oss för prisupplysning och annat</p>
      </div>
    </div>

    <div id="lead-location">
      <h4>
        <a href="/kontakt" class=""
          ><i class="fas fa-question-circle"> </i> &nbsp; Kontakta oss gärna för
          frågor &nbsp; <i class="fas fa-arrow-right"></i
        ></a>
      </h4>
    </div>
    <!-- Site footer -->
    <footer class="footer-distributed">
      <div class="footer-right">
        <a href="https://www.facebook.com/Papaya-Restaurang-310141932482911"
          ><i class="fa fa-facebook"></i
        ></a>
        <a href="mailto:nopparat66@msn.com"
          ><i class="fas fa-envelope-square"></i
        ></a>
      </div>
      <div class="footer-left">
        <p class="footer-links">
          <a class="/" href="/">Hem</a>
          <a href="/veckans-meny">Veckans Meny</a>
          <a href="/bestallning">Beställning</a>
          <a href="/kontakt">Kontakt</a>
        </p>
        <p>Created by Ben Skoglund &copy; 2022</p>
      </div>
    </footer>
  </body>
</html>
