<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Papayas Restaurang - Julbord</title>
        <link rel="icon" type="image/x-icon" href="../public/assets/favicon.ico">
        
        <link href="../public/assets/style.css" rel="stylesheet" type="text/css" />

        <script src="https://kit.fontawesome.com/37b7c2e3b6.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="../public/assets/navigation.js" defer></script>
        <script type="text/javascript" src="../public/assets/julbordclass.js" defer></script>
    </head>

<body class="">
    <header>
        <div class="main_s">
            <div class="row">
                <a class="logo" href="/"> <img src="../public/assets/papaya_logo.png" alt=""></a>
                <nav>
                    <ul>
                        <li><a href="/">Hem</a></li>
                        <li><a href="/julbord">Julbord</a></li>
                        <li><a href="/veckans-meny">Veckans Meny</a></li>
                        <li><a href="/bestallning">Beställning</a></li>
                        <li><a href="/kontakt">Kontakt</a></li>
                    </ul>
                </nav>
            </div>
            <!-- / row -->
        </div>

        <div class="mobile-header">
            <a class="mobile-logo" href="www.papayarestaurang.se"><img src="../public/assets/papaya_logo.png" alt=""></a>
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/">Hem</a></li>
                    <li><a href="/julbord">Julbord</a></li>
                    <li><a href="/veckans-meny">Veckans Meny</a></li>
                    <li><a href="/bestallning">Beställning</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="row-veckans content menus" onload="document.body.style.opacity='1'">
        
        <h3 class="menunderline">Julbord - den 19 december</h3>
        <p>Kl. 17:00 - 20:00</p>
    </br>
        <h3>— Meny —</h3>
        <p>Välkomna till årets julbord hos oss</p>
        <p>Njut av våra smakrika urval av varma och kalla rätter, samt god efterätt</p>
    </br></br>
        <p>Inkl: sallad, bröd, kaffe, julmust, måltidsdryck med mera.</p>
    </br>
        <h3>— Enbart förbokning —</h3>
        <p>Boka på: 070-7265580 </p>
        <p>Pris: 365 kr </p>
    </br>
</br></br>
    <h3> Välkomna! </h3>
        <!-- <h3>— Onsdag —</h3>
    </br>
        <h3>— Torsdag —</h3>
    </br>
        <h3>— Fredag —</h3> -->

        </br></br>

    </br></br>
    </br></br>
    </br></br>
    </div>

    </div>
        <!-- Site footer -->
        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="https://www.facebook.com/Papaya-Restaurang-310141932482911"><i class="fa fa-facebook"></i></a>
                <a href="mailto:nopparat66@msn.com"><i class="fas fa-envelope-square"></i></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a class="" href="/">Hem</a>
                    <a href="/veckans">Veckans Meny</a>
                    <a href="/bestallning">Beställning</a>
                    <a href="/kontakt">Kontakt</a>
                </p>
                <p>Created by Ben Skoglund &copy; 2022</p>
            </div>
        </footer>
</body>
</html>